body {
    background-image:   url("../img/floor-tile.png");
}

h1 {
    font-family:        'Indie Flower', cursive;
    text-align:         center;
    padding-bottom:     1%;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

.card-body {
    font-size: 65%;
}

#card2Text {
    font-size: 50%;
}